@font-face {
  font-family: 'Impact';
  src: url('../fonts/ImpactRegular.woff2') format('woff2'),
    url('../fonts/ImpactRegular.woff') format('woff');

}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/RobotoCondensedBold.woff2') format('woff2'),
    url('../fonts/RobotoCondensedBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/RobotoCondensedItalic.woff2') format('woff2'),
    url('../fonts/RobotoCondensedItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/RobotoCondensedLight.woff2') format('woff2'),
    url('../fonts/RobotoCondensedLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/RobotoCondensedRegular.woff2') format('woff2'),
    url('../fonts/RobotoCondensedRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'RobotoCondensed', 'Impact', sans-serif;
  color: #040404;
  font-size: 14px;
  line-height: 1.2;

}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}

.big-container {
  max-width: 1220px;
  padding: 0 10px;
  margin: auto;
}

.container {
  max-width: 920px;
  padding: 0 10px;
  margin: auto;
}

/*Header*/

.header {
  padding-top: 25px;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}

/*Nav*/

.nav {
  justify-content: space-between;
}

.nav__list {
  gap: 0 40px;
  padding-top: 25px;
}

.nav__item-link {
  color: #363636;
  font-size: 16px;
}

.menu-left {
  padding-left: 25px;
}

.menu-right {
  padding-right: 80px;
}

/*Promo*/

.promo {
  background-image: url("../img/promo.png");
  border-radius: 0 0 50px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__inner {
  padding-top: 100px;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}

.title {
  font-family: 'Impact';
  font-weight: 400;
  font-size: 76px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.subtitle {
  font-family: 'Impact';
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 10px;
  border-bottom: 1px solid #040404;
  align-self: center;

}

.date {
  display: block;
  font-family: 'Impact';
  font-size: 34px;
  color: #9F6B08;
  padding: 10px 0;
}

.promo__text {
  font-size: 16px;
  color: #363636;
}

.promo__arrow {
  margin-top: auto;
  margin-bottom: 30px;
  align-self: center;
}

.promo__arrow svg:hover {
  stroke: #9F6B08;
}

/*Info*/

.info {
  padding: 100px 0 100px 0;
}

.info__part {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
}

.info__part--first {
  display: block;
}

.info__part--third {
  padding-top: 66px;
}

.info__title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 32px;
}

.info__content {
  flex-basis: 415px;
}

.info__part-img {
  object-fit: cover;
  border-radius: 50px;
}

.info__part-textbox {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}

.info__part--second .info__text {
  max-width: 350px;
}

.info__part--third .info__text {
  max-width: 377px;
}

.info__text {
  flex-basis: 440px;
  margin-bottom: 30px;
}

.info__table {
  flex-basis: 450px;
  border-bottom: 1px solid #040404;
  position: relative;
  top: 20px;
}

.info__table::before {
  content: "";
  border-top: 1px solid #040404;
  position: absolute;
  width: 100%;
  top: -20px;
}

.info__table td {
  padding-bottom: 20px;
}

/*Track*/

.track {
  background-image: url("../img/track-bg.jpg");
  border-radius: 50px 50px 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.track__title {
  padding-top: 50px;
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 32px;
}

.track__text {
  max-width: 435px;
  font-weight: 400;
  font-size: 14px;
}

.track__inner {
  flex-direction: column;
  min-height: 100vh;
}

.track__img {
  margin: auto auto 90px auto;

}

.track__img:hover {
  transition: filter 0.7s ease-in-out;
  filter: drop-shadow(6px 8px 6px #343434);

}

/*Evo*/

.evo {
  font-size: 14px;
  margin-bottom: 100px;
}

.evo-grey {
  background-color: #363636;
  padding: 100px 0 50px;
  color: #fff;
  border-radius: 0 0 50px 50px;
}

.evo-grey__inner {
  position: relative;
}

.evo-grey__inner::before {
  content: '';
  position: absolute;
  background-image: url("../img/dec-1.svg");
  width: 185px;
  height: 213px;
  top: 210px;
  left: -127px;
}

.evo-grey__inner::after {
  content: '';
  position: absolute;
  background-image: url("../img/dec-2.svg");
  width: 498px;
  height: 572px;
  top: 297px;
  left: -40px;
}

.evo-grey__info {
  justify-content: space-between;
}

.evo-grey__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 32px;
  padding-right: 50px;
}

.evo-grey__infobox {
  flex-basis: 437px;
}

.evo-grey__text {
  font-size: 14px;
  flex-basis: 437px;
  margin-bottom: 30px;
}

.evo-grey__car {
  display: block;
  margin: 170px auto 60px;
  transition: filter 0.5s ease-in-out;
  filter: drop-shadow(5px 5px 5px yellow);
  position: relative;
  z-index: 1;
}

.evo-grey__car:hover {
  transition: filter 0.5s ease-in-out;
  filter: none;
}


.evo__descr-list {
  justify-content: center;
  gap: 0 65px;

}

.evo__descr-list dd {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}


.evo-white__inner {
  padding-top: 125px;
  position: relative;
}

.evo-white__inner::before {
  content: '';
  position: absolute;
  background-image: url("../img/dec-3.png");
  width: 274px;
  height: 257px;
  top: -22px;
  left: 396px;
  transition: filter 0.5s ease-in-out;
  filter: drop-shadow(5px 5px 5px rgb(255, 0, 0));
}

.evo-white__inner:hover::before {
  filter: none;
  transition: filter 0.5s ease-in-out;
}

.evo-white__inner::after {
  content: '';
  position: absolute;
  background-image: url("../img/dec-4.png");
  width: 324px;
  height: 311px;
  top: 134px;
  left: 606px;
  transition: filter 0.5s ease-in-out;
  filter: drop-shadow(5px 5px 5px rgb(3, 255, 62));
}

.evo-white__inner:hover::after {
  filter: none;
  transition: filter 0.5s ease-in-out;
}

.evo-white__text:first-child {
  max-width: 285px;
}

.evo-white__text:nth-child(2) {
  max-width: 437px;
}

.evo-white__text:nth-child(3) {
  max-width: 590px;
}

.evo-white__text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 30px;
  color: #040404;
}

.evo-white__video {
  margin-top: 100px;
  background-image: url("../img/evo-video.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.evo-white__video:hover {
  transition: filter 0.5s ease-in-out;
  filter: drop-shadow(5px 5px 5px #363636);
}

.evo-white__video-link span {
  display: block;
  color: #fff;
}

/*Blog*/

.blog {
  margin-bottom: 100px;
}

.blog__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 30px;
}

.blog__slider {
  position: relative;
  padding-top: 50px;
  margin-bottom: 100px;
}


.blog__item-img {
  border-radius: 50px;
  margin-bottom: 20px;
}

.blog__item-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
  min-height: 46px;
}

.blog__item-text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}

.blog__item-link {
  font-weight: 400;
  font-size: 12px;
  color: #363636;
}

.blog__button {
  position: absolute;
  top: 0;
  left: 50%;
  cursor: pointer;

}

.swiper-button-left {
  transform: translateX(-40px);
}

.swiper-button-right {
  transform: translateX(8px);
}


.blog__quote-box {
  flex-basis: 434px;
}

.blog__quote {
  justify-content: space-between;
  gap: 0 20px;
}

.blockquote {
  margin-bottom: 30px;
}

.blockqoute-name {
  font-weight: 700;
}

.blockqoute-name span {
  display: block;
  color: #9F6B08;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 3px;
}

.blockqoute__text {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}

/*Footer*/

.footer {
  padding: 100px 0 80px;
  background: #363636;
  color: #fff;
}

.footer__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 50px;
}

.footer__top {
  justify-content: space-between;
  gap: 0 20px;
}

.footer__info-item {
  margin-bottom: 50px;
}

.footer__info-item dt,
.footer__address-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer__info-item dd {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

.social-list {
  gap: 0 20px;
  align-items: center;
}



.footer__address {
  flex-basis: 462px;
}

#map {
  height: 250px;
}


.footer__address-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer__bottom {
  margin-top: 75px;
  justify-content: space-between;
  align-items: center;
}